## Version control
.git/
package-lock.json

## Dynamic/Unversionable
code_docs/
dist/
logs/
deploy/
node_modules/
*.bak
*.db
*.log
*.jar
*.old
*.swp
*.tmp

## System files
.directory
.DS_Store
desktop.ini
thumbs.db
.fuse_hidden*

# Keep .keep files
!.keep
