## https://docs.npmjs.com/misc/config

## Versioning
preid = 'rc'
save-prefix = '^'

## Package-locking
package-lock = false
format-package-lock = false

## Logging
loglevel = 'notice'
logs-max = 4

## Misc
access = 'restricted'
